**/output/
.*
__pycache__/
*.pyc
*.out
*.pdf
*.bcf
*.gz
*.bst
*.gdb_latexmk
*.fls
*.fls
*.deb
*.out
*.log
!/.gitignore

# Exclude the renv library folder
renv/library/

# Exclude the renv cache folder
renv/cache/

# Exclude the renv staging folder
renv/staging/

# Exclude temporary files
renv/sandbox/
